.BoardView div {
	color: #646464;
	font-size: 20px;
	font-weight: 400;
}
.BoardView div.selected {
	font-weight: 700;
}
/*notice & question*/
.common-box {
	box-sizing: border-box;
	border: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
}

.common-input {
	border-radius: 5px;
	border: 1px solid #DDD;
}

.flex-row {
	box-sizing: border-box;
	width: 560px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 16px 30px 16px 30px;
	padding-left: 26px;
}

.flex-row div {
	color: #646464;
	font-size: 16px;
	font-weight: 400;
}

.submitButton {
	width: 100px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 1px solid rgba(64, 81, 231, 0.64);
	background: #FFF;
	color: rgba(64, 81, 231, 0.64);
	font-size: 20px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
}

.noticeItem {
	display: flex;
}

.noticeItem div {
	color: #646464;
	font-size: 16px;
	font-weight: 400;
}

.content {
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	display: flex;
	margin: 22px 40px 22px 40px;
	text-align: left;
}

.noticeForm {
	display: flex;
	flex-direction: column;
}

.noticeForm input {
	border-radius: 5px;
	border: 1px solid #DDD;
	font-size: 20px;
}

.noticeForm textarea {
	border-radius: 5px;
	border: 1px solid #DDD;
	font-size: 20px;
}
