#SearchBar {
  padding-left: 10px;
  width: 300px;
  height: 30px;
  font-family: Pretendard;
  color: #646464;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 15px;
  float: right;
  border: 1px solid #f0f0f0;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#Search {
  float: right;
  background-color: transparent;
  color: #646464;
  width: 30px;
  height: 33.5px;
  right: 144px;
  margin-top: 25px;
  margin-right: 200px;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
#Search:active {
  background-color: #dddddd;
}
#SearchBar::placeholder {
  color: #A0A0A0;
  font-family: Pretendard;
}

/*배너이미지*/
.visual {
  width: 100%;
  /* 뷰포트의 전체 높이 */

  align-items: center; /* 세로 중앙 정렬 */
}




.banner_logo img {
  position: relative;
  width: 1300px; 
  height: 280px;
  border-left: 72px solid #002472;
  border-right: 5000px solid #002472;
  object-fit: cover; /* 이미지의 중심을 정확한 위치로 이동시킵니다 */
}




/* 굿즈리스트 전체를 감싸는 큰 박스*/
.goods-card-container {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
 
  gap: 20px; /* 간격 조절 */
}

/* 각 GoodsCard 컴포넌트를 33.33% 너비로 나타내기 위한 스타일 */
.GoodsCard {
  width: calc(33.33% - 20px); 
}

.GoodsList_body{
  position: absolute;
  margin-left: 144px;
  margin-top: 15px;
  font-size: 32px;
  font-family: Pretendard;
  font-weight: 600;
  color: #646464;
}