#SearchBar{
  width: 200px;
  height: 30px;
  margin-top: 20px;
  float: right;

  border: 1px solid #8f8f8f;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

#Search{
  float: right;

  color: black;
  width: 30px;
  height: 33.5px;
  right: 144px;
  margin-top: 20px;
  margin-right: 144px;
  border: 1px solid #8f8f8f;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
#Search:active{
	background-color: red;
}
