html,
body {
  height: 100%;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 300px;
  padding-top: 100px;
}
/*Button*/

.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  white-space: nowrap;
}

.Button_default {
  background-color: #ececec;
  color: black;
}
.Button_positive {
  background-color: #64c964;
  color: white;
}
.Button_negative {
  background-color: #fd565f;
  color: white;
}

/*Users*/
.Users {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 205px;
}

.title {
  font-size: 36px;
}

.input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.input_body .input_box {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.navigation {
  border: none;
  background-color: white;
  color: rgba(110, 110, 110, 1);
  cursor: pointer;

  padding-top: 10px;
}

.small_but {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgba(217, 217, 217, 1);

  border: none;
}

.input_body_small {
  width: 432px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Login*/

.Login {
  width: 480px;
  height: 520px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 5px;
  font-family: Pretendard;
  position: absolute;
  margin-top: 250px; /*위로부터의 위치 지정*/
  padding-bottom: 30px;
  padding-top: 30px;

}

.Login .input_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 40%;
  padding-left: 50px;

}
.Login ::placeholder {
  color: #A0A0A0;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 20px;
}
.Login .input_box{ /*이메일,비번 입력시*/
  height: 45px;
  width: 370px;
  background-color: transparent;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 20px;
  color : #646464;
  margin-top: 10px;
}
.input_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.input_footer .login_button {
  width: 388px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: Pretendard;
  color : white;
  background-color: #002472;
  border: none;
  margin-top: 40px;
}

.input_footer .kakao_button {
  width: 388px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: Pretendard;
  color : black;
  background-color: #FEE500;
  border: none;

}

.Login .title{ /*이메일로 로그인*/
   font-weight: 700;
   color: #646464;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   padding-left: 50px;
   padding-top: 10px;
   padding-bottom: 35px;
}
.Login .subtitle2{ /*비밀번호*/
  font-family: Pretendard;
  font-size: 16px;
  color: #646464;
  margin-top: 20px;
}
.Login .subtitle1{ /*이메일*/
  font-family: Pretendard;
  font-size: 16px;
  color: #646464;
  margin-top: 20px;
}
.Login .navigation {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}
/*Join*/
.Join {
  width: 480px;
  height: 1539px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Pretendard;
  position: absolute;
  top: 130px;

}
.Join .title {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  color: #646464;
  display: flex;
  margin-left: 30px;

}
.Join .input_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  padding-left: 30px;
}

.Join .input_body .subtitle1{
  color: #646464;
  font-size: 16px;
  font-weight: 400;

}
.Join .input_body .subtitle2{
  padding-top: 30px;
  color: #646464;
  font-size: 16px;
  font-weight: 400;
}
.Join .input_body .subtitle3{
  padding-top: 30px;
  color: #646464;
  font-size: 16px;
  font-weight: 400;
}
.Join ::placeholder {
  color: #A0A0A0;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 20px;
}
.Join .input_body .input_box{
  width: 401px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin-top: 10px;
  font-family: Pretedard;
  color:#646464;
  font-weight: 500;
  font-size: 20px;

}
.Join .terms { /*이용약관*/
  width: 401px;
  height: 124px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 적용 */
  border: 1px solid #DDDDDD; /* 선택사항: 테두리 추가 */
  padding: 10px;
  font-size: 15px;
}


.check_list label input[type="checkbox"] { /*체크박스*/
  width: 25px; /* 원하는 너비 */
  height: 25px; /* 원하는 높이 */

  /* 다양한 스타일링을 원하신다면 추가적인 속성을 설정할 수 있습니다 */

}

.check_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 20px;
  color:#646464;

  gap: 10px;
  padding-top: 20px;
}
.check_list  .all{
 font-weight: 700;
}


/*ResetPw*/

.ResetPw {
  width: 480px;
  height: 400px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 5px;
  font-family: Pretendard;
  position: absolute;
  margin-top: 60px;
}


.ResetPw .title {
  font-size: 32px;
  font-weight: 700;
  color: #646464;
  text-align: left;
  padding-left: 45px;
  margin-top: 56px;
}

.ResetPw .input_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  padding-left: 45px;
  gap: 20px;
}

.ResetPw .input_body .subtitle {/*이메일주소*/
  font-size: 16px;
  color: rgba(110, 110, 110, 1);
}

.ResetPw .subtitle {
  margin-top: 47px;
  font-size: 16px;
  color: #646464;
}

.ResetPw .input_body .address { /*가입하신 이메일 주소를 입력해주세요*/
  height: 48px;
  width: 380px;
  border-radius: 5px;
  border: #DDDDDD 1px solid;
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.ResetPw .temp_pw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.ResetPw .temp_pw .temp_pw_button { /*임시번호받기*/
  width: 395px;
  height: 48px;
  border-radius: 5px;
  color: white;
  background-color:#002472;
  border: none;
  margin-top: 35px;
}

.ResetPw .tail {/*이메일로 전송된*/
  font-size: 16px;
  font-weight: 400;
  color: #646464;
  margin-top: 10px;
  float: left;
  margin-left: 40px;
}

/*비밀번호재설정*/

.TempPw {
  width: 400px;
  height: 470px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 240px;
  gap: 50px;
  padding: 50px;
  font-family: Pretendard;
}

.TempPw .title {
  text-align: left;
  padding-left: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #646464;
}

.TempPw .input_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  padding-left: 10px;
  gap: 20px;
}

.TempPw .input_body .subtitle {
  font-size: 16px;
  color:#646464;
}

.TempPw .input_body .input_box {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 48px;
  width: 370px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  color: #646464;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;


}

.TempPw .input_tail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 50%;

  padding-left: 10px;
  gap: 3px;
}

.TempPw .input_tail .subtitle {
  font-size: 16px;
  color: #A0A0A0;
  padding-bottom: 10px;
}

.TempPw .input_tail .input_box {
  height: 48px;
  width: 370px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: transparent;

  font-size: 20px;
  font-family: Pretendard;
  font-weight: 400;
  color: #646464;

  padding-left: 20px;
}
.TempPw .input_tail .input_check {
  height: 48px;
  width: 370px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;;
  background-color: transparent;

  font-size: 20px;
  font-family: Pretendard;
  font-weight: 400;
  color: #646464;

  padding-left: 20px;
}

.TempPw .resetPw { /*비밀번호재설정하기*/
  width: 380px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  font-family: Pretendard;
  color: white;
  background-color: #002472;
  padding-left: 10px;
  border: none;
}

/*UnivCert*/

.UnivCert {
  width: 545px;
  height: 450px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-bottom: 40px;
  padding-top: 30px;

  margin-bottom: 70px;
}

.UnivCert .title {
  text-align: left;
  padding-left: 45px;
  color: rgb(77, 75, 75);
  font-weight: 500;
}

.UnivCert .input_body {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  height: 60%;
  padding-left: 50px;

  gap: 20px;
}

.UnivCert .input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.UnivCert .input_tail {
  flex-direction: column;
  align-items: flex-start;

  height: 50%;

  padding-left: 50px;
  gap: 30px;
}

.UnivCert .input_tail .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
  padding-bottom: 10px;
  display: flex;
}

.UnivCert .input_tail .univMail {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10;
}

.UnivCert .input_tail .univMailButton {
  height: 40px;
  width: 131px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10;
}

.input_box_small {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

/*Goods*/

.Goods {
  /* border: 1px solid red; */
	margin: 115px;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

/* .Goods .left_side {
  border: 1px solid blue;
  width: 35%;
} */
/* .Goods .right_side {
  border: 1px solid blueviolet;
  width: 35%;
} */

/* .GoodsInfo {
  border: 1px solid red;
} */

/*NavigationBar*/

.NavigationBar .title {
  font-size: 32px;
  font-weight: 600;
  color: rgba(110, 110, 110, 1);
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  padding-left: 163px;
}

.NavigationBar .nav_box {
  display: flex;
  padding-left: 160px;
  flex-direction: column;
  align-items: flex-start;
}

.nav_box .myInfo,
.nav_box .myOrder,
.nav_box .myProject {
  display: block;
  margin: 8px 0; /* 요소 간의 상하 간격 조절 */
  padding: 10px;
  text-decoration: none;
  color: rgba(110, 110, 110, 1);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.myInfo.active,
.myOrder.active,
.myProject.active {
  background-color: darkblue;
  color: white; /* 글자 색상 변경 */
}

.nav_box .dropdown-content {
  padding: 5px;
  text-decoration: none;
  color: rgba(110, 110, 110, 1);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

/*MyInfo*/

.MyInfo .MyInfoContent {
  padding-left: 80px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.MyInfo .MyInfoContent .title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(110, 110, 110, 1);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.MyInfo .MyInfoContent .title::before {
  content: "";
  position: absolute;
  bottom: 250px; /* 간격을 조절할 값 */
  left: 70px;
  width: 1000px;
  border-bottom: 1px solid #ccc;
}

.MyInfo .MyInfoContent .info_space {
  padding: 20px; /* 필요한 경우 패딩 조절 */
  width: 100%;
  display: flex;
  flex-direction: row;

  font-size: 20px;
}

.check_space {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgba(110, 110, 110, 1);
  margin-top: 20px;
  align-items: flex-start;
  width: 100px;
  margin-left: 10px;
}

.name_subtitle,
.mail_subtitle,
.univ_subtitle {
  margin-bottom: 40px;
}
.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgba(110, 110, 110, 1);
  margin-left: 10px;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}

.info .name,
.info .email,
.info .univ {
  margin-bottom: 40px;
  margin-left: 0px;
  font-weight: bold;
}

/*MyOrder*/

.MyOrder .MyOrderContent {
  padding-left: 80px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.MyOrder .MyOrderContent .title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(110, 110, 110, 1);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.MyOrder .MyOrderContent .title::before {
  content: "";
  position: absolute;
  left: 78px;
  width: 920px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.MyOrder .MyOrderContent .footer {
  font-size: 12px;
  margin-top: 30px;
  color: rgba(110, 110, 110, 1);
  background-color: #f0f0f0; /* 회색 배경색 설정 */
  padding: 5px; /* 내용과의 간격을 위한 패딩 설정 */
  width: 900px;
}

.footer div {
  display: flex; /* 동그라미 말머리표를 위한 Flex 레이아웃 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: 15px;
}

.footer div::before {
  content: "\2022"; /* 동그라미 말머리표 (유니코드 코드포인트) */
  margin-right: 5px; /* 말머리표와 텍스트 간 간격 */
  color: rgba(110, 110, 110, 1); /* 말머리표 색상 */
  font-size: 1.5rem; /* 말머리표 크기 */
}

.order_space {
  border: 1px solid #ccc; /* 회색 네모 테두리 설정 */
  padding: 10px; /* 내용과의 간격을 위한 패딩 설정 */
  width: 900px;
  background-color: #fff; /* 배경색 설정 */
  margin-top: 20px;
  font-size: 16px;
  color: rgba(110, 110, 110, 1);
}

.MyOrder .MyOrderContent .order_space .header {
  display: flex; /* 수평 정렬을 위한 Flex 레이아웃 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 아이템 사이 간격을 최대화하여 수평 간격 조절 */
  margin-bottom: 3px;
  padding-bottom: 5px 0;
}

.header > div {
  flex: 1; /* 동일한 너비를 가진 Flex 아이템으로 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin: 10px 0;
}

.MyOrder .MyOrderContent .order_space .header .first,
.MyOrder .MyOrderContent .order_space .header .last,
.MyOrder .MyOrderContent .order_space .header .third {
  margin: 10px; /* 기본 마진을 제거하여 끝쪽으로 위치 */
  padding-right: 25px;
  padding-left: 10px;
  flex: 0 0 auto;
}

.MyOrder .MyOrderContent .order_space .header .third {
  padding-right: 45px;
}
.MyOrder .MyOrderContent .order_space .header .second {
  padding-right: 120px;
}
.MyOrder .MyOrderContent .order_space .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 10px 0;
  border-top: 1px solid #ccc;
}

.content > div {
  flex: 1;
  text-align: center;
  margin: 25px 0;
}

.MyOrder .MyOrderContent .order_space .content .order_num,
.MyOrder .MyOrderContent .order_space .content .order_date,
.MyOrder .MyOrderContent .order_space .content .order_memo {
  margin: 10px; /* 기본 마진을 제거하여 끝쪽으로 위치 */
  padding-right: 30px;
  padding-left: 20px;
  flex: 0 0 auto;
}

.MyOrder .MyOrderContent .order_space .content .order_title {
  padding-right: 380px;
  text-align: left;
}

.MyOrder .MyOrderContent .order_space .content .order_date {
  padding-right: 23px;
}
