.App {
  text-align: center;
}

/*Button*/

.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  white-space: nowrap;
}

.Button_default {
  background-color: #ececec;
  color: black;
}
.Button_positive {
  background-color: #64c964;
  color: white;
}
.Button_negative {
  background-color: #fd565f;
  color: white;
}

/*Users*/
.Users {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 36px;
}

.input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.input_body .input_box {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.navigation {
  border: none;
  background-color: white;
  color: rgba(110, 110, 110, 1);
  cursor: pointer;

  padding-top: 10px;
}

.small_but {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgba(217, 217, 217, 1);

  border: none;
}

.input_body_small {
  width: 432px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Login*/

.Login {
  width: 545px;
  height: 400px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-bottom: 30px;
  padding-top: 30px;
}

.Login .input_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  height: 60%;

  padding-left: 50px;
}

.input_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input_footer .login_button {
  width: 432px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgba(217, 217, 217, 1);

  border: none;
}

.input_footer .kakao_button {
  width: 432px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 235, 131, 1);

  border: none;
}

/*Join*/
.Join {
  width: 545px;
  height: 850px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.Join .input_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 70%;

  padding-left: 50px;
}

.check_list {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  font-size: 15px;
  color: rgba(110, 110, 110, 1);

  gap: 10px;
  padding-top: 10px;
}

/*ResetPw*/

.ResetPw {
  width: 545px;
  height: 350px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.ResetPw .title {
  font-size: 36px;
  text-align: left;
  padding-left: 45px;
}

.ResetPw .input_body {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  height: 50%;

  padding-left: 50px;
  gap: 20px;
}

.ResetPw .input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.ResetPw .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.ResetPw .input_body .address {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.ResetPw .temp_pw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ResetPw .temp_pw .temp_pw_button {
  width: 432px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(110, 110, 110, 1);
  background-color: rgba(217, 217, 217, 1);

  border: none;
}

.ResetPw .tail {
  font-size: 16px;
  color: rgba(110, 110, 110, 1);
}

/*TempPw*/

.TempPw {
  width: 545px;
  height: 503px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.TempPw .title {
  text-align: left;
  padding-left: 45px;
  font-size: 36px;
}

.TempPw .input_body {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  height: 50%;
  padding-left: 50px;
  gap: 20px;
}

.TempPw .input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.TempPw .input_body .input_box {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.TempPw .input_tail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 50%;

  padding-left: 50px;
  gap: 3px;
}

.TempPw .input_tail .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
  padding-bottom: 10px;
}

.TempPw .input_tail .input_box {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}
.TempPw .input_tail .input_check {
  height: 40px;
  width: 432px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}

.TempPw .resetPw {
  width: 432px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(110, 110, 110, 1);
  background-color: rgba(217, 217, 217, 1);
  padding-left: 10px;
  border: none;
}

/*UnivCert*/

.UnivCert {
  width: 545px;
  height: 500px;
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-bottom: 40px;
  padding-top: 30px;

  margin-bottom: 70px;
}

.UnivCert .title {
  text-align: left;
  padding-left: 45px;
  color: rgb(77, 75, 75);
  font-weight: 500;
}

.UnivCert .input_body {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  height: 60%;
  padding-left: 50px;

  gap: 20px;
}

.UnivCert .input_body .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
}

.UnivCert .input_tail {
  flex-direction: column;
  align-items: flex-start;

  height: 50%;

  padding-left: 50px;
  gap: 30px;
}

.UnivCert .input_tail .subtitle {
  font-size: 20px;
  color: rgba(110, 110, 110, 1);
  padding-bottom: 10px;
  display: flex;
}

.UnivCert .input_tail .univMail {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10;
}

.UnivCert .input_tail .univMailButton {
  height: 40px;
  width: 131px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10;
}

.input_box_small {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(110, 110, 110, 1);
  padding-left: 10px;
}
